@font-face {
  font-family: "firacode";
  src: url('/assets/fonts/FiraCode.woff') format('woff'),
  url('/assets/fonts/FiraCode.woff2') format('woff2'),
  url('/assets/fonts/FiraCode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}